/* * {
  box-sizing: border-box;
} */
body {
  background-color: lightskyblue;
  font-size: 100%;
  /* display: flex;
  flex-flow: column nowrap;
  justify-content: center; */
}
.btn {
  margin: 5px 5px !important;
  color: white;
}
.btn:hover {
  color: red;
}
.box:hover {
  border: 2px solid red !important;
}
div {
  /* border: 1px solid red; */
  text-align: center;
}
#main {
  display: flex;
  flex-flow: column nowrap;
  /* background-color: cornflowerblue; */
  justify-content: center;
}
#banner {
  background-color: white;
  /* text-align: center !important; */
  max-height: 1.5em;
  flex: 0 0 1.5em;
  display: flex;
  justify-content: center;
}
#navBar,
#footer {
  background-color: gray;
  max-height: 5em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  flex: 0 0 1em;
}
#navBar {
  margin-top: 1.5em;
  height: 2em;
  max-height: 2em;
}
#footer {
  justify-self: flex-end;
}
#content {
  /* background-color: lightblue; */
  /* height: 80%; */
  margin-top: 3.3em;
  margin-bottom: 3em;
  flex: 20 0 20em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 1000px;
  overflow: scroll;
}

.box {
  flex: 0 1 40.5%;
  border: 2px solid blue;
  margin: 10px;
  padding: 5px;
  background-color: white;
}
.oswald {
  font-family: "Oswald Regular", "Lato Regular";
}
.center {
  text-align: center;
}
